<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/popup.css">
</head>
<body>

    <a id="logo" class="logo" href="#" target="_blank"></a>

    <ul>
        <li>
          <a href="#" id="toggle_hiddenChars">
            <span>Whitespaces and tabs</span>
            <span class="state"></span>
          </a>
        </li>
        <li>
            <a href="#" id="toggle_collapse">
                <span>Collapse panels</span>
                <span class="state"></span>
            </a>
        </li>
        <li>
            <a href="#" id="toggle_mixedspaces">
                <span>Warning mixed tab and spaces</span>
                <span class="state"></span>
            </a>
        </li>
        <li class="space">
            <a href="#" target="_blank" id="rate_link">
                Rate this Extension
            </a>
        </li>
    </ul>
    <script src="common.js"></script>
    <script src="popup.js"></script>
</body>

</html>
